:root {
    --main-font-family: "PT Sans", sans-serif;
    --title-font-family: "Francois One", sans-serif;
    --chapter-font-family: "Farro", sans-serif;
    --main-font-size: 28px;
    --container-width: 1200px;
}